@font-face {
	font-family: philosopher;
	src: url(../fonts/Philosopher-Regular.ttf);
}

@font-face {
	font-family: mulish;
	src: url(../fonts/Mulish.ttf);
}

@font-face {
	font-family: fugaz;
	src: url(../fonts/FugazOne-Regular.ttf);
}

body {
	position: relative;
	font-family: mulish;
}

.fancy-font {
	font-family: philosopher;
}

.header {
	background-image: url('../img/top-banner.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 75vh;
	position: relative;
}

.header .h-100 {
	backdrop-filter: brightness(40%);
}

.vertical-align {
	display: flex;
	align-items: center;
}

.logo-example {
	width: 100%;
	object-fit: cover;
}

.package {
	border-width: 3px;
}

#about, #cost, #gallery, #order {
	scroll-margin-top: 74px;
}

.btn, .btn:active {
	background-color: none;
	border-width: 2px;
	border-color: #e05a19;
	color: white;
}

.btn:hover {
	background-color: #e05a19;
	color: white;
}

.btn-inverted {
	color: #e05a19 !important;
}

.btn-inverted:hover {
	color: white !important;
}

.navbar {
	background-color: #199fe0;
}

nav .navbar-nav li a {
	color: white !important;
}

.navbar-brand, .navbar-brand:hover {
	font-family: fugaz;
	color: white;
}

.card.active {
	border-color: #e05a19;
}

header h1, header h2 {
	color: white;
}

.border-bottom {
	border-color: #e05a19 !important;
}

footer {
	background-color: #199fe0;
}

li {
	font-size: 18px;
}