@font-face {
	font-family: fancy;
	src: url(../fonts/Soyuz\ Grotesk\ Bold.otf);
}

@font-face {
	font-family: regular;
	src: url(../fonts/DidactGothic-Regular.ttf);
}

:root {
	--main-color: #0071e0;
	--accent-color: #e12619;
}

body {
	position: relative;
	font-family: regular;
}

.fancy-font {
	font-family: fancy;
}

.header {
	background-color: black;
	background-image: url('../img/top-banner.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 75vh;
	position: relative;
}

.header .h-100 {
	backdrop-filter: brightness(40%);
}

.vertical-align {
	display: flex;
	align-items: center;
}

.logo-example {
	width: 100%;
	object-fit: cover;
}

.package {
	border-width: 3px;
}

#info,
#gallery,
#cost,
#aboutme {
	scroll-margin-top: 74px;
}

.btn,
.btn:active {
	background-color: none;
	border-width: 2px;
	border-color: var(--accent-color);
	color: white;
}

.btn:hover {
	background-color: var(--accent-color);
	color: white;
}

.btn-inverted {
	color: var(--accent-color) !important;
}

.btn-inverted:hover {
	color: white !important;
}

.navbar {
	background-color: var(--main-color);
}

nav .navbar-nav li a {
	color: white !important;
}

.navbar-brand,
.navbar-brand:hover {
	font-family: fancy;
	color: white;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.card.active {
	border-color: var(--accent-color);
}

header h1,
header h2 {
	color: white;
}

.border-bottom {
	border-color: var(--accent-color) !important;
}

footer {
	background-color: var(--main-color);
}

li {
	font-size: 18px;
}

#aboutme ul {
	list-style: none;
}

#aboutme li {
	font-size: 20px;
}

#aboutme ul li::before {
	content: "\2022";
	color: var(--accent-color);
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.nb {
	color: var(--accent-color);
}

.regular-text {
	font-size: 18px;
}